<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Расчет энергоэффективности умного дома</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>САЙТ ПРО ЗКОЛОГИЮ</h1>
      <p>СОВЕТЫ И РЕКОМЕНДАЦИИ</p>
    </div>
  </header>
    <main>
      <div class="list">
        <img class="item__img__pic" src="../static/img/mem1.jpg" alt="home">

        
        <img class="item__img__pic" src="../static/img/mem2.png" alt="home">

        
        <img class="item__img__pic" src="../static/img/mem3.jpg" alt="home">
      </div>


    </main>>
  <footer>

  </footer>
</body>
</html>